/*
 * Empty Stylesheet file.
 */
.chosen-evet-card{
  -fx-background-color: #680c63;
  -fx-background-radius: 30;
}
.add-btn{
    -fx-background-color:#FFFFFF;
    -fx-background-radius: 100;
    
}
.transparent{
    -fx-background-color: rgba(0,0,0,0);
}
.event-item{
    -fx-background-color:#FFFFFF;
    -fx-background-radius: 30;
    
}